h1 {text-align: center}

p {text-align: center}

nav {
    padding: 20px 0;
    font-size: 20px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}